DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=Somi@2495
DATABASE_NAME=products_db

KAFKA_BROKER=kafka:29092
TOPIC_NAME=pg-server.public.products

MONGO_URI=mongodb://mongo:27017/products_read_db

WRITE_SERVICE_PORT=8080
READ_SERVICE_PORT=8081